<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="60 seconds" debug="false">
    <include resource="logback-base.xml"/>

    <!-- 指定包下的日志输出级别 -->
    <logger name="com.netflix" level="ERROR" />
    <logger name="com.amg.framework.cloud.consul" level="ERROR" />

</configuration>