<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amg.fulfillment.cloud.logistics.mapper.DepositoryProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.amg.fulfillment.cloud.logistics.entity.DepositoryProductDO">
        <id column="id" property="id" />
        <result column="sku" property="sku" />
        <result column="channel_sku" property="channelSku" />
        <result column="name" property="name" />
        <result column="variants" property="variants" />
        <result column="expire_weight" property="expireWeight" />
        <result column="real_weight" property="realWeight" />
        <result column="images" property="images" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sku, channel_sku, name, variants, expire_weight, real_weight, images, create_time, create_by, update_time, update_by
    </sql>

</mapper>
