<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amg.fulfillment.cloud.logistics.mapper.LogisticsPackageTrackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.amg.fulfillment.cloud.logistics.entity.LogisticsPackageTrackDO">
        <id column="id" property="id" />
        <result column="package_id" property="packageId" />
        <result column="status" property="status" />
        <result column="content" property="content" />
        <result column="location" property="location" />
        <result column="time_zone" property="timeZone" />
        <result column="event_time" property="eventTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, package_id, status, content, location, time_zone, event_time
    </sql>

    <delete id="deleteLogisticsPackageTrackByPackageId" parameterType="java.lang.Long" >
        delete from t_logistics_package_track where package_id = #{packageId}
    </delete>

    <insert id="insertLogisticsPackageTrackBatch" parameterType="java.util.List" >
        insert into t_logistics_package_track (<include refid="Base_Column_List" />) values
        <foreach collection="list" item="item" open="" separator="," close="" >
            (#{item.id}, #{item.packageId}, #{item.status}, #{item.content}, #{item.location}, #{item.timeZone}, #{item.eventTime})
        </foreach>
    </insert>

    <update id="updateDatabase" >
        ${sql}
    </update>

</mapper>
